{{- if and .Values.externalSecrets.enabled .Values.externalSecrets.onepassword.enabled -}}
apiVersion: external-secrets.io/v1beta1
kind: ClusterSecretStore
metadata:
  name: {{ include "vomeet-bot.fullname" . }}-onepassword
  labels:
    {{- include "vomeet-bot.labels" . | nindent 4 }}
spec:
  provider:
    onepassword:
      connectHost: http://op-connect-api:8080
      vaults:
        vomeet: 1
      auth:
        secretRef:
          connectTokenSecretRef:
            name: onepassword-token
            key: token
            namespace: {{ .Release.Namespace }}
{{- end }}
