{{- if and .Values.externalSecrets.enabled .Values.externalSecrets.secretstore.enabled -}}
apiVersion: external-secrets.io/v1beta1
kind: SecretStore
metadata:
  name: {{ include "vomeet-bot.fullname" . }}-secretstore
  labels:
    {{- include "vomeet-bot.labels" . | nindent 4 }}
spec:
  provider:
    kubernetes:
      remoteNamespace: {{ .Release.Namespace }}
      server:
        caProvider:
          type: ConfigMap
          name: kube-root-ca.crt
          key: ca.crt
      auth:
        serviceAccount:
          name: {{ include "vomeet-bot.serviceAccountName" . }}
{{- end }}
