# Staging-specific overrides

imageTag: staging

bot:
  resources:
    requests:
      cpu: 500m
      memory: 1Gi
    limits:
      cpu: 2000m
      memory: 4Gi
  activeDeadlineSeconds: 3600  # 1 hour for staging
